.carousel-item1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.233), rgba(0, 0, 0, 0.24)),
    url("../../../public/assets/banner.jpg") center/cover no-repeat;
  padding: 100px 0;
}

.carousel-item1 h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.carousel-item1 p {
  font-size: 16px;
  color: #dbdbdb;
}

.text-content {
  width: 50%;
  margin-left: 180px;
}

.banner-wrapper .text-content {
  font-family: "Muli";
}

.banner-wrapper .text-content h1,
.banner-wrapper .text-content h5,
.banner-wrapper .text-content h6,
.banner-wrapper .text-content p {
  font-family: "Muli";
  color: #afbaca;
}

.banner-wrapper .text-content h1 {
  color: #c7c7c7;
}

.banner-wrapper .text-content i {
  color: #afbaca;
  font-size: 26px;
}

.banner-wrapper .text-content a {
  font-family: "Muli";
  padding: 20px 35px;
  background-color: #afbaca;
  color: #201e29;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.banner-wrapper .text-content a:hover {
  background: #ffffff;
}

.banner-wrapper .text-content .bgWhite {
  background: #ffffff;
  color: #071c1f;
  box-shadow: 0px 0 7px 0 rgb(35 33 33 / 10%);
  margin-left: 10px;
}

.banner-wrapper .text-content .bgWhite:hover {
  color: #afbaca !important;
}

/* ---------- */
/* .banner-wrapper .slick-track {
  height: 450px;
} */

.slick-dots {
  bottom: 10px;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 15px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: #c5c5c4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots .slick-active button::before {
  color: #afbaca !important;
}

.custom-slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  padding: 9px;
  border: thin solid #383838b9;
  background-color: #0c0a15;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.custom-slick-arrow:hover {
  background-color: transparent;
  color: #ffffff;
  border: thin solid #afbaca;
}

.custom-slick-prev {
  left: 40px;
}

.custom-slick-next {
  right: 40px;
}

.custom-slick-arrow svg {
  width: 20px;
  height: 20px;
  color: #bbbbbb;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.custom-slick-arrow:hover svg {
  color: #ffffff;
}

/* ---------- */

/* Responsive Area */

@media (max-width: 1450px) {
  .custom-slick-arrow {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .carousel-item1 {
    height: 535px;
  }

  .text-content {
    width: 90%;
    margin-left: 10px;
  }

  .text-content h1 {
    font-size: 45px;
    margin: 15px 0 30px 0;
  }

  .text-content h5 {
    font-size: 19px;
  }

  .banner-wrapper .slick-list:nth-child(1) {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bannerHeightResponsive {
    display: block;
    height: 100px;
  }



  .banner-wrapper .carousel-item1 .text-content {
    margin-bottom: 60px;
  }

  .banner-wrapper .carousel-item2 h1 {
    padding-left: 10px;
  }


  .banner-wrapper .custom-slick-arrow {
    display: none;
  }

  .banner-wrapper .text-content p {
    padding: 0 18px 18px 25px;
  }

  .banner-wrapper .text-content .bgWhite {
    display: block;
    margin-top: 40px;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .carousel-item1 {
    height: 505px;
  }

  .text-content {
    width: 90%;
    margin-left: 10px;
  }

  .text-content h1 {
    font-size: 50px;
    margin-top: 18px;
  }

  .bannerHeightResponsive {
    display: block;
    height: 100px;
  }

  .banner-wrapper .carousel-item2 h1 {
    padding-left: 40px;
  }

  .banner-wrapper .text-content h1 {
    margin-bottom: 30px;
  }

  .banner-wrapper .custom-slick-arrow {
    display: none;
  }

  .banner-wrapper .text-content p {
    padding: 0 18px 32px 140px;
  }
}

@media (min-width: 768px) and (max-width: 990.98px) {
  .carousel-item1 {
    height: 505px;
  }

  .bannerHeightResponsive {
    display: block;
    height: 100px;
  }

  .text-content {
    width: 80%;
    margin-left: 10px;
  }

  .banner-wrapper .carousel-item2 h1 {
    padding-left: 40px;
  }

  .banner-wrapper .text-content h1 {
    margin-bottom: 30px;
  }

  .banner-wrapper .custom-slick-arrow {
    display: none;
  }

  .banner-wrapper .text-content p {
    padding: 0 18px 32px 140px;
  }
}

@media (min-width: 991px) and (max-width: 1199.98px) {
  .text-content {
    width: 70%;
    margin-left: 120px;
  }
}